%h1 Listing all the washes, dawg
= link_to 'New Auto wash', new_auto_wash_path
%br
%br/
%table.table.table-striped
  %tr
    %th Location
    %th Start
    %th Close
    %th{:colspan => "3"}
  - @auto_washes.each do |auto_wash|
    %tr
      %td= auto_wash.location
      %td= auto_wash.start.strftime("%I:%M %p")
      %td= auto_wash.close.strftime("%I:%M %p")
      %td= link_to 'Show', auto_wash
      %td= link_to 'Edit', edit_auto_wash_path(auto_wash)
      %td= link_to 'Destroy', auto_wash, method: :delete, data: { confirm: 'Are you sure?' }
